# Dependencies
node_modules
dist
.build
.temp

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode
.idea

# Env
.env
.env.*
!.env.example

# Mac
.DS_Store"public/models/*.glb" 
